---
import { Waline } from './Waline/Waline'
import { waline } from '@/config.json'
const { articleId } = Astro.props
---

<div>
  <Waline {...waline} client:idle articleId={articleId} client:load />
</div>
